<!DOCTYPE html>
<html>
	<head>
		<title>Speed. In. Real. Life.</title>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry"></script>
		<script type="text/javascript">
var map, infoWindow, buses, speedBus;
function init(){
	// set up Google Maps, pointed at downtown LA
	var ctr = new google.maps.LatLng(34.047114,-118.261925);
	var z = 12;
	var mapOptions = {
		center: ctr,
		zoom: z,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	map = new google.maps.Map(document.getElementById("map"), mapOptions);
	setInterval( pollBuses, 40000 );
	pollBuses();
}

function gup(nm){nm=nm.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");var rxS="[\\?&]"+nm+"=([^&#]*)";var rx=new RegExp(rxS);var rs=rx.exec(window.location.href);if(!rs){return null;}else{return rs[1];}}

function pollBuses(){
	var myRoute = gup("route") || "460";
	var s = document.createElement("script");
	s.src = "http://api.metro.net/agencies/lametro/routes/" + myRoute + "/vehicles/callback=updateBuses";
	s.type = "text/javascript";
	document.body.appendChild(s);
}
var speed_est = { };
var last_loc = { };
var last_time = { };
var markers = { };
function updateBuses(rt){
	var updateDate = new Date();
	document.getElementById("allbuses").innerHTML = "";
	for(var b=0;b<rt.items.length;b++){
		var li = document.createElement("li");
		if(!speed_est[ rt.items[b].id ]){
			if(last_loc[ rt.items[b].id ] ){
				// has at least one location to use...
				// make an estimate, if the location is changed
				if(last_loc[ rt.items[b].id ][0] != rt.items[b].latitude || last_loc[ rt.items[b].id ][1] != rt.items[b].longitude ){
					speed_est[ rt.items[b].id ] = calcSpeed(last_loc[ rt.items[b].id ], last_time[ rt.items[b].id ], [ rt.items[b].latitude, rt.items[b].longitude ], updateDate - 1000 * rt.items[b].seconds_since_report );
					li.innerHTML = rt.items[b].id + ": " + Math.round( speed_est[ rt.items[b].id ] );
				}
				else{
					li.innerHTML = rt.items[b].id;
				}
			}
			else{
				markers[ rt.items[b].id ] = new google.maps.Marker({
					position: new google.maps.LatLng( rt.items[b].latitude, rt.items[b].longitude ),
					map: map
				});
				li.innerHTML = rt.items[b].id;
			}
		}
		else{
			if(last_loc[ rt.items[b].id ][0] != rt.items[b].latitude || last_loc[ rt.items[b].id ][1] != rt.items[b].longitude ){
				speed_est[ rt.items[b].id ] = calcSpeed(last_loc[ rt.items[b].id ], last_time[ rt.items[b].id ], [ rt.items[b].latitude, rt.items[b].longitude ], updateDate - 1000 * rt.items[b].seconds_since_report );
				markers[ rt.items[b].id ].setMap(null);
				markers[ rt.items[b].id ] = new google.maps.Marker({
					position: new google.maps.LatLng( rt.items[b].latitude, rt.items[b].longitude ),
					map: map
				});
			}
			li.innerHTML = rt.items[b].id + ": " + Math.round( speed_est[ rt.items[b].id ] ) + " mph";
		}
		last_loc[ rt.items[b].id ] = [ rt.items[b].latitude , rt.items[b].longitude ];
		last_time[ rt.items[b].id ] = updateDate - 1000 * rt.items[b].seconds_since_report
		document.getElementById("allbuses").appendChild(li);
	}
}
function calcSpeed(loc, time1, loc2, time2){
	loc = new google.maps.LatLng( loc[0], loc[1] );
	loc2 = new google.maps.LatLng( loc2[0], loc2[1] );
	var dist = google.maps.geometry.spherical.computeDistanceBetween( loc, loc2 );
	var timediff = time2 - time1;
	if( timediff < 0 ){
		return 0;
	}
	return (dist / timediff * 1000) * 2.23693629;
}
		</script>
		<style type="text/css">
html, body, #map{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
#overlay{
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 220px;
	padding: 10px;
	background-color: #fff;
}
		</style>
	</head>
	<body onload="init()">
		<div id="map">
		</div>
		<div id="overlay">
			<h4>Speed IRL</h4>
			<p>Game using realtime bus locations and velocities in Los Angeles.</p>
			<p>Inspired by <a href="http://www.youtube.com/watch?v=aRmhneo5A48#t=1m10s">Speed</a></p>
			<ul id="allbuses">
			</ul>
		</div>
	</body>
</html>