<!DOCTYPE html>
<html>
	<head>
		<title>Speed. In. Real. Life.</title>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script type="text/javascript">
var map, infoWindow, buses, speedBus;
function init(){
	// set up Google Maps, pointed at downtown LA
	var ctr = new google.maps.LatLng(34.047114,-118.251925);
	var z = 12;
	var mapOptions = {
		center: ctr,
		zoom: z,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	map = new google.maps.Map(document.getElementById("map"), mapOptions);
}
		</script>
		<style type="text/css">
html, body, #map{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
#overlay{
	position: fixed;
	left: 20px;
	top: 20px;
	background-color: #fff;
}
		</style>
	</head>
	<body>
		<div id="map">
		</div>
		<div id="overlay">
			<h4>Speed IRL</h4>
			<p>Realtime bus locations and velocities in Los Angeles.</p>
			<p>Inspired by <a href="http://www.youtube.com/watch?v=aRmhneo5A48#t=1m10s">Speed</a></p>
		</div>
	</body>
</html>